@model IEnumerable<BaiKiemTra03_02.Models.Author>

<h2>Authors</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Nationality</th>
            <th>Birth Year</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.AuthorName)</td>
                <td>@Html.DisplayFor(modelItem => item.Nationality)</td>
                <td>@Html.DisplayFor(modelItem => item.BirthYear)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AuthorId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AuthorId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AuthorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
